<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/navbar") %>

    <div class="container">
      <h1>Introduction:</h1>

      <p class="long_text_2">
        Hi every-body! My name is Shahzad Ali.I'm studying bachelor's in
        Computer Science from
        <span class="word">
          "<a href="https://www.umt.edu.pk/"
            >University Of Management And Technology</a
          >"
        </span>
        . I'm currently in sixth semestr.I did FSC Pre-Engineering form
        <span class="word">
          "<a href="https://www.fccollege.edu.pk/">Forman Christian College</a>"
        </span>
        Lahore.
      </p>

      <p class="long_text_2">
        I am also a member of
        <span class="word">
          "<a href="https://centin.com.pk/">
            Centre for Entrepreneurship & Innovation (CENTIN)</a
          >
          "
        </span>
        at UMT i am working there as Director IT voluntarily.
      </p>
      <p class="long_text_2">
        I like to play BasketBall. My favourite hobbies are Gymming & History
        Reading.
      </p>
    </div>

    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
