<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <body>
    <%- include("partials/navbar") %>

    <div class="container">
      <h1>Tecniques & perfect Angels</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga dicta
        distinctio, iure neque non suscipit provident, esse soluta quidem
        exercitationem enim quaerat pariatur, beatae error minima! Impedit
        voluptatum temporibus aliquam. Adipisci consequatur dolore porro?
        Dolorem, ipsam. Aperiam tenetur ipsum voluptas eligendi deserunt magnam
        ad libero maiores hic recusandae, natus vero et nihil cum est voluptatum
        qui consequuntur tempore placeat fuga?
      </p>
      <h1>Training From Diet Experts</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga dicta
        distinctio, iure neque non suscipit provident, esse soluta quidem
        exercitationem enim quaerat pariatur, beatae error minima! Impedit
        voluptatum temporibus aliquam. Adipisci consequatur dolore porro?
        Dolorem, ipsam. Aperiam tenetur ipsum voluptas eligendi deserunt magnam
        ad libero maiores hic recusandae, natus vero et nihil cum est voluptatum
        qui consequuntur tempore placeat fuga?
      </p>
    </div>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
